<footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid text-center">
        <p><em>"Premature optimization is the root of all evil"</em> - Donald Knuth</p>
        <p class="alignleft">&copy; @DateTime.Now.Year - Marianna Janczak </p>
        <p class="alignright">You entered the site at: <span class="text-info">@Session["startDate"]</span></pclass>
    </div>
</footer>
