@model IEnumerable<HallOfFame.Models.Positions>

<div class="panel panel-info">
    <div class="panel-heading"><h3 id="exp">Experience</h3></div>
    <div class="panel-body">
        <p class="text-info">In work I seek challanges!</p>
    </div>

    <table class="table">
        @foreach (var position in Model)
        {
        <tr>
            <td>@position.Position</td>
            <td>@position.Company</td>
            <td>@position.Years </td>
            <td>@position.Duties</td>
        </tr>
        }
    </table>
</div>